.about__header {
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum Bold", "Arial", sans-serif;
  color: $color-black;
}

.about__promo {
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-black;
}

.about__list-item {
  font-size: 15px;
  line-height: 24px;
  font-family: "Cuprum  Bold", "Arial", sans-serif;
  color: $color-black;
}
