.assortment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 940px;
  margin: 58px auto 33px auto;
}

.assortment__element {

}
