.authentification__site-about {
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum Italic", "Arial", sans-serif;
  color: $color-red;
}

.authentification__phone {
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-red;
}

.authentification__address {
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-blue;
}

.authentification__login-button {

}

.authentification__register-button {

}
