.contacts__header {
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum Bold", "Arial", sans-serif;
  color: $color-black;
}

.contacts__description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}
