.contacts {
  margin-left: 115px;
}

.contacts__header {
  margin: 0;
  padding-bottom: 12px;
  font-size: 29px;
  line-height: 30px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-black;
  text-transform: uppercase;
}

.contacts__description {
  width: 190px;
  margin-left: -3px;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}

.contacts__map {
  padding-bottom: 37px;
}

.contacts__map-full-screen {
  width: 940px;
  height: 450px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
