.footer-madeby__copyright {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-white;
}

.footer-madeby__about {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-white;
}

.footer-madeby__about {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-yellow;
}
