.good {
  position: relative;
  width: 220px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
  }

  &:hover .good__button {
    opacity: 1;
  }

  &:hover .good__image {
    opacity: 0;
  }
}

.good:nth-child(4) {
  margin-right: 0;
}

.good__name {
  width: 170px;
  margin: 0 auto;
  padding-top: 34px;
  font-size: 18px;
  line-height: 20px;
  font-family: "PTSans Bold", "Arial", sans-serif;
  color: $color-black;
  text-align: center;
}

.good:nth-child(4) .good__name {
  margin-bottom: 41px;
}

.good__price {
  font-size: 17px;
  line-height: 18px;
  font-family: "PTSans Bold", "Arial", sans-serif;
}

.good__price--old {
  width: 66px;
  margin-bottom: 11px;
  margin-left: 77px;
  padding-top: 11px;
  color: $color-grey;
  text-decoration: line-through;
}

.good__price--new {
  position: relative;
  width: 80px;
  margin-left: 42px;
  margin-bottom: 20px;
  padding: 10px 11px 10px 28px;
  text-align: center;
  color: $color-white;
  background-color: $color-red;

  &::after {
    position: absolute;
    right: -19%;
    bottom: 0%;
    width: 0;
	  height: 0;
	  border-top: 19px solid transparent;
	  border-left: 23px solid $color-red;
   	border-bottom: 19px solid transparent;
    content: "";
  }
}

.good__button {
  position: absolute;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  text-transform: uppercase;
  opacity: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.good__button--buy {
  top: 45px;
  left: 41px;
  padding: 9px 0;
  color: $color-white;
  background-color: $color-green;
  border-bottom: 3px solid rgb(54, 115, 21);

    &::after {
      position: absolute;
      left: 13px;
      width: 15px;
      height: 15px;
      content: "";
      opacity: 0.3;
      background-position: -5px -5px;
      background-image: url("/../img/sprite.png");
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: rgb(95, 187, 45);
    }

    &:hover::after {
      opacity: 1;
    }

    &:active {
      background-color: rgb(81, 133, 52);
    }

    &:active::after {
      opacity: 1;
    }
}

.good__button--bookmark {
  top: 91px;
  left: 41px;
  padding: 6px 0;
  color: $color-blue;
  background-color: $color-white;
  border: 4px solid $color-green;

  &:hover {
    border: 4px solid rgb(50, 66, 92);
  }

  &:active {
    color: rgba(50, 66, 92, 0.3);
    border: 4px solid rgba(50, 66, 92, 0.3);
  }
}

.good--new {
  position: relative;
}

.good--new::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url("/../img/new.png");
  background-repeat: no-repeat;
  content: "";
  z-index: 1;
}
