.main-nav {
  width: 100%;
  padding-bottom: 60px;
  background-color: rgb(243, 247, 249);
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: $color-blue;
  border-bottom: 5px solid $color-dark-blue;
}

.main-nav__element {
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 20px 31px 17px 30px;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $color-dark-blue;
  }

  &:active {
    background-color: rgb(29, 39, 57);
  }

  &:active .main-nav__link {
    color: rgba(255, 255, 255, 0.5);
  }
}

.main-nav__link--first {
  padding-left: 52px;
}

.main-nav__link--last {
  padding-right: 52px;
}
