@mixin font {
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-white;
}

.order {
  width: 100%;
  background-color: $color-dark-blue;
}

.order__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.order__logo {
  position: absolute;
  left: 0;
  padding: 17px 0;
}

.order__search {
  position: relative;
  width: 260px;
  height: 42px;
  margin-left: 223px;
  padding-right: 7px;
  @include font;

  &::after {
    position: absolute;
    left: 13px;
    top: 12px;
    width: 17px;
    height: 17px;
    content: "";
    opacity: 0.3;
    background-image: url("/img/sprite.png");
    background-repeat: no-repeat;
    background-position: -208px -87px;
  }

  &:hover {
    background-color: rgb(33, 42, 58);
  }

  &:hover .order__search-input {
    background-color: rgb(33, 42, 58);
  }

  &:hover::after {
    opacity: 1;
  }

  &:active {
    background-color: $color-white;
  }

  &:active .order__search-input {
    color: $color-black;
    background-color: $color-white;
    outline: 0;
  }

  &:active::after {
    background-image: url("/img/icon-search-red.png");
    background-position: 100% 100%;
  }
}

.order__search-input {
  margin-top: 12px;
  padding-left: 46px;
  background-color: $color-dark-blue;
  border: none;
  outline: 0;
  @include font;

    &::placeholder {
      opacity: 1;
      color: $color-white;
    }
}

.order__bookmark {
  position: relative;
  height: 29px;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 37px;
  margin-left: auto;
  @include font;
  cursor: pointer;

    &::after {
      position: absolute;
      left: 13px;
      top: 12px;
      width: 14px;
      height: 16px;
      content: "";
      opacity: 0.3;
      background-image: url("/img/sprite.png");
      background-repeat: no-repeat;
      background-position: -120px -5px;
    }

    &:hover {
      background-color: rgb(33, 42, 58);
    }

    &:hover::after {
      opacity: 1;
    }

    &:active {
      background-color: rgb(22, 29, 41);
    }

    &:active::after {
      opacity: 0.5;
    }
}

.order__cart {
  position: relative;
  height: 29px;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 30px;
  @include font;
  cursor: pointer;

    &::after {
      position: absolute;
      left: 8px;
      top: 12px;
      width: 15px;
      height: 15px;
      content: "";
      opacity: 0.3;
      background-image: url("/img/sprite.png");
      background-repeat: no-repeat;
      background-position: -5px -5px;
    }

    &:hover {
      background-color: rgb(33, 42, 58);
    }

    &:hover::after {
      opacity: 1;
    }

    &:active {
      background-color: rgb(22, 29, 41);
    }

    &:active::after {
      opacity: 0.5;
    }
}

.order__cart--catalog {
  background-color: $color-red;
}

.order__new-order {
  padding: 12px 21px;
  background-color: $color-green;
  cursor: pointer;

    &:hover {
      background-color: rgb(95, 187, 45);
    }

    &:focus {
      background-color: rgb(81, 133, 52);
    }

    &:active {
      background-color: rgb(81, 133, 52);
    }
}

.order__link {
  @include font;
}
