.service__header {
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-black;
  text-transform: uppercase;
}

.service__header {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}

.service__element-header {
  font-size: 36px;
  line-height: 24px;
  font-family: "Cuprum Bold", "Arial", sans-serif;
  color: $color-black;
}

.service__element-description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}
