.service {
  width: 100%;
  background-image: url("/../img/background-service.png");
}

.service__about {
  width: 940px;
  margin: 0 auto;
  padding: 68px 20px 0 23px;
}

.service__header {
  margin: 0;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 24px;
  font-family: "Cuprum Regular", "Arial", sans-serif;
  color: $color-black;
  font-weight: normal;
  text-transform: uppercase;
}

.service__description {
  width: 400px;
  margin-bottom: 68px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}

.service__wrapper {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.service__element-header {
  margin-top: 5px;
  margin-bottom: 31px;
  font-size: 36px;
  line-height: 24px;
  font-family: "Cuprum Bold", "Arial", sans-serif;
  color: $color-blue;
  font-weight: normal;
  text-transform: uppercase;
}

.service__element {
  padding-right: 330px;
  background-repeat: no-repeat;
}

.service__element-description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}

.service__element-description--delivery {
  width: 280px;
  padding-bottom: 152px;
}

.service__element-description--guarantee {
  width: 400px;
  padding-bottom: 103px;
}

.service__element-description--credit {
  width: 280px;
}

.service__element--delivery {
  margin-bottom: -25px;
  background-image: url("/img/service-delivery.png");
  background-position: 107% 45%;
}

.service__element--guarantee {
  background-image: url("/img/service-guarantee.png");
  background-position: 68% 0%;
}

.service__element--credit {
  margin-top: -100px;
  padding-top: 100px;
  background-image: url("/img/service-credit.png");
  background-position: 87% -1000%;
}

.service__element-button {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 107px;
}

.service__container {
  margin-left: 79px;
}
