.social-buttons {
  width: 155px;
  margin-left: 91px;
  height: 45px;
}

.social-buttons__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  background-color: rgb(33, 42, 58);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      background-image: url("/img/sprite.png")
    }

    &:hover {
      background-color: rgb(238, 54, 67);
    }

    &:active {
      background-color: rgb(238, 54, 67);
    }
}

.social-buttons__item--vk::after {
  width: 26px;
  height: 15px;
  background-position: -144px -5px;
}

.social-buttons__item--fb::after {
  width: 12px;
  height: 22px;
  background-position: -5px -104px;
}

.social-buttons__item--insta::after {
  width: 21px;
  height: 21px;
  background-position: -27px -104px;
}
