.sorting {
  width: 700px;
}

.soring__header {
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}

.sorting__element {
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans Regular", "Arial", sans-serif;
  color: $color-black;
}
